@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.login {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/42df4e1f-bef6-499e-87ff-c990584de314/5e7c383c-1f88-4983-b4da-06e14c0984ba/IN-en-20230904-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover; /* Adjust to your needs */
  background-repeat: no-repeat; /* Adjust to your needs */
  /* You can also set background-position, background-color, and other properties */
}
